<div class="row">
    <div class="col-12 col-sm-4">
        <app-booking-search-form></app-booking-search-form>
    </div>
    <div class="col-sm-8 d-none d-sm-flex container p-4 image-container">
        <img src="/assets/images/homepage.jpg" class="img-fluid homepage-image-style" alt="Homepage">
        <div class="homepage-image-title-style f-size-30 text-light">Book a Captain to cruise your destination safely</div>
        <div class="homepage-image-sub-title-style f-size-20 text-light">Choose from a range of categories and prices</div>
    </div>
</div>