<div class="row bg-dark flex-row-reverse d-none d-sm-flex f-size-13">
    <div role="button" class="page-link-green col-sm-1 text-light bg-primary bg-opacity-25 d-flex justify-content-sm-center p-2 align-items-middle">Support</div>
    <div role="button" class="page-link-green col-sm-1 text-light bg-secondary bg-opacity-25 d-flex justify-content-sm-center p-2 align-items-middle">Offers</div>
    <div role="button" class="page-link-green col-sm-1 text-light bg-danger bg-opacity-25 d-flex justify-content-sm-center p-2 align-items-middle">Drivers App</div>
</div>
<div class="row f-size-15">
    <div class="col-12 col-sm-4 d-flex justify-content-center logo-background">
        <img src="/assets/images/logo.jpeg" class="img-fluid logo-style" alt="Book my driver logo">
    </div>
    <div class="col-sm-8 menu-background column-center">
        <div class="row container d-none d-sm-flex flex-row-reverse">
            <div class="col-2 align-items-middle">
                <button class="btn btn-sm btn-success btn-opacity-25 w-100 f-weight-600">Book now</button>
            </div>
            <div role="button" class="col-1 column-center f-weight-500 page-link-black">Login</div>
        </div>
    </div>
</div>
<div class="bg-dark content-height">
    <router-outlet></router-outlet>
</div>